@font-face {
  font-family: 'Circle';
  font-weight: 400;
  src: url('../../fonts/circe/Circe_Regular.ttf');
  src: url('../../fonts/circe/Circe_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Circle';
  font-weight: 800;
  src: url('../../fonts/circe/Circe_Extra Bold.ttf');
  src: url('../../fonts/circe/Circe_Extra Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ParimatchThin';
  src: url('../../fonts/pari match font/ParimatchThin/fonts/ParimatchThin.eot');
  src: url('../../fonts/pari match font/ParimatchThin/fonts/ParimatchThin.eot') format('embedded-opentype'),
  url('../../fonts/pari match font/ParimatchThin/fonts/ParimatchThin.woff2') format('woff2'),
  url('../../fonts/pari match font/ParimatchThin/fonts/ParimatchThin.woff') format('woff'),
  url('../../fonts/pari match font/ParimatchThin/fonts/ParimatchThin.ttf') format('truetype'),
  url('../../fonts/pari match font/ParimatchThin/fonts/ParimatchThin.svg#ParimatchThin') format('svg');
}
@font-face {
  font-family: 'ParimatchRegular';
  src: url('../../fonts/pari match font/ParimatchRegular/fonts/ParimatchRegular.eot');
  src: url('../../fonts/pari match font/ParimatchRegular/fonts/ParimatchRegular.eot') format('embedded-opentype'),
  url('../../fonts/pari match font/ParimatchRegular/fonts/ParimatchRegular.woff2') format('woff2'),
  url('../../fonts/pari match font/ParimatchRegular/fonts/ParimatchRegular.woff') format('woff'),
  url('../../fonts/pari match font/ParimatchRegular/fonts/ParimatchRegular.ttf') format('truetype'),
  url('../../fonts/pari match font/ParimatchRegular/fonts/ParimatchRegular.svg#ParimatchRegular') format('svg');
}
@font-face {
  font-family: 'ParimatchMedium';
  src: url('../../fonts/pari match font/ParimatchMedium/fonts/ParimatchMedium.eot');
  src: url('../../fonts/pari match font/ParimatchMedium/fonts/ParimatchMedium.eot') format('embedded-opentype'),
  url('../../fonts/pari match font/ParimatchMedium/fonts/ParimatchMedium.woff2') format('woff2'),
  url('../../fonts/pari match font/ParimatchMedium/fonts/ParimatchMedium.woff') format('woff'),
  url('../../fonts/pari match font/ParimatchMedium/fonts/ParimatchMedium.ttf') format('truetype'),
  url('../../fonts/pari match font/ParimatchMedium/fonts/ParimatchMedium.svg#ParimatchMedium') format('svg');
}
@font-face {
  font-family: 'ParimatchLight';
  src: url('../../fonts/pari match font/ParimatchLight/fonts/ParimatchLight.eot');
  src: url('../../fonts/pari match font/ParimatchLight/fonts/ParimatchLight.eot') format('embedded-opentype'),
  url('../../fonts/pari match font/ParimatchLight/fonts/ParimatchLight.woff2') format('woff2'),
  url('../../fonts/pari match font/ParimatchLight/fonts/ParimatchLight.woff') format('woff'),
  url('../../fonts/pari match font/ParimatchLight/fonts/ParimatchLight.ttf') format('truetype'),
  url('../../fonts/pari match font/ParimatchLight/fonts/ParimatchLight.svg#ParimatchLight') format('svg');
}
@font-face {
  font-family: 'ParimatchBold';
  src: url('../../fonts/pari match font/ParimatchBold/fonts/ParimatchBold.eot');
  src: url('../../fonts/pari match font/ParimatchBold/fonts/ParimatchBold.eot') format('embedded-opentype'),
  url('../../fonts/pari match font/ParimatchBold/fonts/ParimatchBold.woff2') format('woff2'),
  url('../../fonts/pari match font/ParimatchBold/fonts/ParimatchBold.woff') format('woff'),
  url('../../fonts/pari match font/ParimatchBold/fonts/ParimatchBold.ttf') format('truetype'),
  url('../../fonts/pari match font/ParimatchBold/fonts/ParimatchBold.svg#ParimatchBold') format('svg');
}
