img {
  max-width: 100%;
}
.pari-btn {
  outline: none;
  appearance: none;
  box-shadow: none;
  text-decoration: none;
  border: 1px solid $black;

  font-family: 'ParimatchMedium';
  font-weight: 500;
  font-size: 26px;
  line-height: 56px;
  font-style: italic;
  letter-spacing: 0.12em;
  display: block;
  border-radius: 6px;
  text-align: center;

  width: 100%;
  position: relative;
  max-width: 400px;
  margin: 0 auto;

  background-color: $black;
  color: $yellow;
  transition: 0.3s all;
  &--number {

  }
  &--code {

  }
  &--back {
    //display: none;
    margin-bottom: 20px;
  }
  @media(max-width: $md-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 16px 0px 0px 0px;
    border-color: $white;
    background: $yellow;
    color: $black;
    padding: 0 30px;
    line-height: 46px;
    width: auto;
    &--number {
      background-image: url(../../img/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      text-indent: -9999px;
      font-size: 0;
    }
    &--back {
      background-image: url(../../img/arrow-left_white.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      text-indent: -9999px;
      font-size: 0;
      border: none;
      background-color: transparent;
      right: unset;
      left: 0;
      height: 48px;
      //display: block;
      margin-bottom: 0;
    }
  }
  &:hover {
    opacity: 0.8;
    text-decoration: none;
    color: $yellow;
    @media(max-width: $md-width) {
      color: $black;
    }
  }
  &[disabled] {
    opacity: 0.4;
    @media(max-width: $md-width) {
      opacity: 0;
    }
  }
}